::-webkit-scrollbar { 
    display: none; 
}
input {
    margin-bottom: 5px;
    border-radius:25px;
            
    outline: none;
    padding: 5px;
    font-size: 14px;
}
input[type=text],input[type=number] {
    border:1px solid #cccccc;
    padding: 5px 10px 5px 10px;
}
textarea {
    width:94%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:25px;
    outline: none;
    padding: 10px;
    font-size: 14px;           
}
input[type=button] {
        border: none;
}
span {
    font-size: 16px;
}
.spnCtg {
	width:120px;
	display:inline-block;	
}
.spnAmtP {
	width:60px;
	display:inline-block;
	color:blue;
}
.spnAmt {
	width:60px;
	display:inline-block;
	color:green;
}
.spnAmtRed {
	width:60px;
	display:inline-block;
	color:red;
}
.spnAmtHead{
	width:55px;
	display:inline-block;
	font-weight:bold;
}
.btnAddAmt {
	width:25px;
	margin-left:10px;
}
.btnAdd {
	width:25px;
	margin-left:5px;
}
.tbAmount {
    width:45px;
}
.tbComment {
    width:280px;
}
.tbCat {
    width:125px;
}
.spnCtgHead {
    width:115px;
    font-weight:bold;
    display:inline-block;
}
select {
    margin-bottom: 5px;
    border-radius:25px;            
    outline: none;
    padding: 5px;
    font-size: 14px;
}
.spnTotH {
	width:115px;
	display:inline-block;	
}
.spnTotP {
	width:60px;
	display:inline-block;
	color:blue;
}
.spnTotAG {
	width:60px;
	display:inline-block;
	color:green;
}
.spnTotAR {
	width:60px;
	display:inline-block;
	color:red;
}
.spnDetailDate{
	display:inline-block;
	width:180px;
}
.spnDetailName{
	display:inline-block;
	width:100px;
}
.spnDetailAmount{
	display:inline-block;
	width:60px;
	text-align:right;
}
.spnDetailComment{
	display:inline-block;
	width:340px;
}
.dvDetailItem{
	border-bottom:1px solid #cccccc;
}
