 ::-webkit-scrollbar { 
            display: none; 
        }
        input {
            margin-bottom: 5px;
            border-radius:25px;            
            outline: none;
            padding: 5px;
            font-size: 14px;
        }
        input[type=text],input[type=url],input[type=search] {
            border:1px solid #cccccc;
            padding: 5px 10px 5px 10px;
        }
        .tbData {
            width:94%;
            height:100px;
            border:1px solid #cccccc;
            border-radius:25px;
            outline: none;
            padding: 10px;
            font-size: 14px;
        }
        input[type=button] {
             border: none;
        }
        .btnAdd {
             width:30px;
        }
        .tbLink {
             width:94%;
        }
        .tbName {
             width:82%;
        }
        .link{
         line-height:30px;
         display:inline-block;
         margin-right:10px;
        }
