html, body {
    height: 100%;
}
.dvContainer {
    height: 85%;
}
.tbnote {
    width:85%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:10px;
    outline: none;
    padding: 5px;
    font-size: 14px; 
}
.dvNotes{
    height:80%;
    overflow:auto;
}
.btnAdd{
}
