html{
    height: 97%;
}
body {
    height: 97%;
    font-size:14px;
    font-family:Arial;
}
.pageTitle{
    font-size: 16px;
}
.dvContainer {
    height: 50%;
}
.tbnote {
    width:96.5%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:10px;
    outline: none;
    padding: 5px;
    font-size:14px;
    font-family:Arial;
    resize:none;
    margin-top:5px;
}
.dvNotes{
    height:100%;
    overflow:auto;
}
.dvNote{
    font-size:16px;
    line-height:1.5;
}
.btnAdd{
    width:100px;
}
.tbType {
    width:70px;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 2px;
    font-size:14px;
    font-family:Arial;
}
.dvDate{
    font-style: italic;
    color: #aaaaaa;
    font-size:14px;
    line-height:1.5;
}
#fileImport, #btnMerge, #btnReplace{
    margin-top:5px;
}
.spnTypeSel{
    color:black;
    border:1px solid blue;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.spnType{
    color:#555555;
    border:1px solid #cccccc;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.dvTypes{
    width:95%;
    margin:5px 5px 5px 5px;
}
.btnType{
    width:50px;
}
.tbMemo {
    width:97%;
    height:660px;
    border:none;
    outline: none;
    padding: 5px;
    font-size:16px;
    font-family:Arial;
    resize:none;
    line-height:1.5;
}
