html{
    height: 97%;
}
body {
    height: 97%;
    font-size:14px;
    font-family:Arial;
}
.dvContainer {
    height: 50%;
}
.tbnote {
    width:96%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:10px;
    outline: none;
    padding: 5px;
    font-size:14px;
    font-family:Arial;
    resize:none;
}
.dvNotes{
    height:100%;
    overflow:auto;
}
.btnAdd{
    width:100px;
}
.tbType {
    width:70px;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 2px;
    font-size:14px;
    font-family:Arial;
}
.dvDate{
    font-style: italic;
    color: #aaaaaa;
    font-size:12px;
}
#fileImport, #btnMerge, #btnReplace{
    margin-top:5px;
}
.spnTypeSel{
    color:brown;
    border:1px solid brown;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.spnType{
    color:grey;
    border:1px solid grey;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.dvTypes{
    width:95%;
    margin:5px 5px 5px 5px;
}
