.dvAction {
    display:inline-table;
    width:10%;
    text-align:center;
}
.dvText {
    display:inline-grid;
    width:89%;
}
.dvContainer {
    height: 85%;
}
.tbnote {
    width:100%;
    height:100px;
}
.dvNotes{
    height:80%;
    overflow:auto;
}
html, body {
    height: 100%;
}
