html, body {
    height: 100%;
    font-size:14px;
    font-family:Arial;
}
.dvContainer {
    height: 50%;
}
.tbnote {
    width:95%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:10px;
    outline: none;
    padding: 5px;
    font-size:14px;
    font-family:Arial;
}
.dvNotes{
    height:100%;
    overflow:auto;
}
.btnAdd{
    margin-left:80px;
}
.tbType {
    width:70px;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 2px;
    font-size:14px;
    font-family:Arial;
}
.dvDate{
    font-style: italic;
    color: #aaaaaa;
}
