html, body {
    height: 100%;
}
.dvContainer {
    height: 80%;
}
.tbnote {
    width:95%;
    height:100px;
    border:1px solid #cccccc;
    border-radius:10px;
    outline: none;
    padding: 5px;
    margin-top:10px;
}
.dvNotes{
    height:80%;
    overflow:auto;
}
.btnAdd{
    width:100px;
}
.tbType {
    width:70px;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 2px;
}
