html{
    height: 97%;
}
body {
    height: 97%;
    font-size:14px;
    font-family:Arial;
}
.dvContainer {
    height: 50%;
}
.dvNotes{
    height:100%;
    overflow:auto;
}
.dvNote{
    font-size:16px;
    line-height:1.5;
}
.dvDate{
    font-style: italic;
    color: #aaaaaa;
    font-size:14px;
    line-height:1.5;
}
#fileImport, #btnMerge, #btnReplace{
    margin-top:5px;
}
.spnTypeSel{
    color:black;
    border:1px solid blue;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.spnType{
    color:#555555;
    border:1px solid #cccccc;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.dvTypes{
    width:95%;
    margin:5px 5px 5px 5px;
}
.tbMemo {
    width:97%;
    height:660px;
    border:none;
    outline: none;
    padding: 5px;
    font-size:16px;
    font-family:Arial;
    resize:none;
    line-height:1.5;
}
