.img{
    width:100%;
}
.dvResize, .dvCompress{
    margin-bottom:10px;
}
.dvSelects{
    margin-top:10px;
}
.btnImg, .btnSave, .btnClear {
    border-radius:25px;
    outline: none;
    padding: 5px;
    font-size: 14px;
}
