.img{
    width:100%;
}
.dvResize, .dvCompress{
    margin-bottom:10px;
}
.dvSelects{
    margin-top:10px;
}
input[type=button] {
    border-radius:25px;            
    outline: none;
    padding: 5px;
    font-size: 14px;
}
