html{
    height: 97%;
}
body {
    height: 97%;
    font-size:14px;
    font-family:Arial;
}
.dvContainer {
    height: 100%;
}
.dvTaskContainer{
    height:88%;
    overflow:auto;
}
.tbTask {
    width:98%;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 5px;
    margin-top:10px
}
.spnTime{
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:30px;
}
.spnNote{
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:180px;
}
.spnTimeAlarm{
    color:brown;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:30px;
    font-weight:bold;
}
.spnNoteAlarm{
    color:brown;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:180px;
    font-weight:bold;
}
.spnLater{
    color:blue;
    border:1px solid blue;
    padding:2px 2px 2px 2px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    border-radius:5px;
}
.spnDone{
    color:green;
    border:1px solid green;
    padding:2px 2px 2px 2px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    border-radius:5px;
}
.btnAdd{
    width:65px;
}
.dvDate{
    font-weight:bold;
}
