html{
    height: 97%;
}
body {
    height: 97%;
    font-size:14px;
    font-family:Arial;
}
.dvContainer {
    height: 100%;
}
.dvTaskContainer{
    height:88%;
    overflow:auto;
}
.tbTask {
    width:300px;
    border:1px solid #cccccc;
    border-radius:5px;
    outline: none;
    padding: 2px;
}
.spnTime{
    color:#555555;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:30px;
}
.spnNote{
    color:#555555;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:180px;
}
.spnTimeAlarm{
    color:brown;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:30px;
    font-weight:bold;
}
.spnNoteAlarm{
    color:brown;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display:inline-block;
    width:180px;
    font-weight:bold;
}
.spnLater{
    color:#555555;
    border:1px solid #555555;
    padding:2px 2px 2px 2px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.spnDone{
    color:#555555;
    border:1px solid #555555;
    padding:2px 2px 2px 2px;
    margin:5px 5px 5px 5px;
    display:inline-block;
}
.btnAdd{
    width:65px;
}
.dvTask{
    vertical-align:top;
}
